.page-top {
	background: #1E3269;
}

.page-header {
    margin-top: 0;
    padding: 0px 0px 0px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #323232;
    font-size: 36pt;
    text-decoration: none;
 }

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.subtitle h2 {
    font-family: 'hanna';
    font-size: 20pt;
}

.text1, .text1 h2 {
    font-size: 12pt;
}

.date {
    color: #828282;
}

.post-form textarea, .post-form input {
    width: 100%;
}


.content text1 td {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.content text1 table, th {
    vertical-align: middle;
    text-align: center;
}

.top { vertical-align: text-top; }
.bottom { vertical-align: text-bottom; }
.middle { vertical-align: middle; }